@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Emilys+Candy&family=Jersey+25&family=Marmelad&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ribeye&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root{
    --cor1:#ffffff;
    --cor2:#C8E6C9;
    --cor3:#35973a;
    --cor6:#6db470;
    --cor4:#121212;
    --cor5:#A5D6A7;
    --cor7:#cdf5cd7c;
}
[data-theme="dark"]{
    --cor1:#E8F5E9;
    --cor2:#C8E6C9;
    --cor3:#326435;
    --cor6:#234726;
    --cor4:white;
    --cor5:#A5D6A7;
    --cor7:#96b99667;
}

body {
    background: linear-gradient(to bottom, var(--cor3), var(--cor6));
    font-family: 'Marmelad', sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.barra{
    background-color: rgb(35, 64, 1);
    display: flex;
    height: 50px;

}
header {
    background-color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: black;
    font-size: 30px;
    font-family: 'Jersey 25', sans-serif;
}

nav > ul > li > a {
    color: black;
    text-decoration: none;
    font-family: 'Jersey 25', sans-serif;
    font-size: 20px;
    padding: 15px 25px;
}
.menu {
    display: flex;
    gap: 50px;
}
nav a:hover {
    color: white;
    background-color: rgb(35, 64, 1);
}

.conteudo1 {
    margin: 30px auto;
    width: 100%;
    max-width: 2000px;
    border-radius: 15px;
    background: var(--cor7);
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.oii {
    width: 30%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    margin-right: 50px;
}

.oi {
    padding-left: 100px;
    width: 60%;
    font-size: 80px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    color: var(--cor4);
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .conteudo1 {
        flex-direction: column-reverse;
        padding: 20px;
        margin: 15px auto;
        text-align: center;
    }

    .oii {
        width: 70%;
        margin: 20px auto;
        max-width: 300px;
    }

    .oi {
        padding-left: 0;
        width: 100%;
        font-size: 50px;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .oi {
        font-size: 40px;
    }
    
    .oii {
        width: 90%;
        max-width: 250px;
    }
}

.conteudo, #campus {
    background:var(--cor7);
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 15px;
}

main {
    flex: 1;
    padding: 30px 50px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: center;
    color: var(--cor4);
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--cor4);
}

footer {
    background-color: rgb(35, 64, 1); 
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    gap: 30px;
}


@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    main {
        padding: 20px;
    }
    
    a{
        color: var(--cor4);
        text-align: center;
        text-decoration: none;
        display: block;
        padding-top: 10px;
    }

    .botoes a {
        margin-bottom: 10px;
    }
}

table {
    width: 80%;
    max-width: 800px;
    margin: 40px auto; 
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    background-color: white;
    font-size: 13px;
  }
  

  main {
    flex: 1;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  td {
    padding: 10px 15px;
    text-align: left;
    color: #020C04;
    font-size: 13px;
  }
  
  th {
    padding: 10px 15px;
    text-align: left;
    color: aliceblue;
    font-size: 14px;
  }
  
  thead {
    background-color: #115508;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
   /* Menu oculto*/
   @media (max-width: 1000px) {
    .menu {
      display: none;
      width: 100%;
      flex-direction: column;
      background-color: white;
      padding: 10px 0;
    }
  
    .menu.show {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
  
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav > ul > li > a {
      width: 100%;
      padding: 10px 20px;
    }
  
    header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }